<div
  id="container"
  class="w-screen h-screen bg-gradient-to-r from-cyan-primary via-cyan-secondary to-cyan-tertiary bg-300% animate-gradient relative overflow-hidden"
>
  <app-login-screen
    #loginScreen
    [form]="loginForm"
    [isLoading]="isLoading()"
    [isVisible]="telaAtual() === 'login'"
    (login)="fazerLogin($event)"
    (socialLogin)="onSocialLogin($event)"
    (switchToRegister)="mostrarCadastro()"
  />

  <app-register-screen
    #registerScreen
    [form]="cadastroForm"
    [isLoading]="isLoading()"
    [isVisible]="telaAtual() === 'cadastro'"
    (register)="fazerCadastro($event)"
    (switchToLogin)="mostrarLogin()"
  />
</div>
