<div id="container" class="w-screen h-screen bg-gradient-to-r from-cyan-primary via-cyan-secondary to-cyan-tertiary bg-300% animate-gradient">
  <div id="login">
    <header class="flex flex-col justify-center items-center pt-24 gap-6 bg-gradient-to-r from-cyan-tertiary via-cyan-secondary to-cyan-primary bg-300% animate-gradient bg-clip-text text-transparent">
      <h1 class="text-3xl md:text-5xl">Bem-vindo de volta!!</h1>

      <h2 class="font-light md:text-lg">entre com suas redes socias</h2>

      <div class="flex gap-12 md:gap-24">
        <a href="#" class="p-3 transition-all duration-300">
          <svg class="w-6 h-6 fill-current text-white/50 hover:text-white/90" role="img" viewBox="0 0 488 512" xmlns="http://www.w3.org/2000/svg">
            <title>Google</title>
            <path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/>
          </svg>
        </a>

        <a href="#" class="p-3 transition-all duration-300">
          <svg class="w-6 h-6 fill-current text-white/50 hover:text-white/90" role="img" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
            <title>Facebook</title>
            <path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/>
          </svg>
        </a>

        <a href="#" class="p-3 transition-all duration-300">
          <svg class="w-6 h-6 fill-current text-white/50 hover:text-white/90" role="img" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
            <title>LinkedIn</title>
            <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 53.79-54.3c29.7 0 53.79 24.5 53.79 54.3a53.79 53.79 0 0 1-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/>
          </svg>
        </a>
      </div>

      <div class="flex
      justify-center
      items-center
      w-full
      bg-gradient-to-r
      from-cyan-tertiary
      via-cyan-secondary
      to-cyan-primary bg-300%
      animate-gradient
      bg-clip-text
      text-transparent">
        <div class="w-20 border-t border-white/40 mt-1"></div>

        <span class="mx-4 text-sm font-medium">ou</span>

        <div class="w-20 border-t border-white/40 mt-1"></div>

        <span></span>
      </div>
    </header>

    <form class="flex flex-col gap-8 md:gap-16 mt-16 justify-center items-center">
      <input type="text" placeholder="Email"
      class="max-w-[80%] md:max-w-[40%]
      outline-none
      w-full py-4 px-4
      rounded-lg
      bg-white/20
      placeholder:text-white/40
      focus:bg-white/40
      focus:placeholder:text-white/60
      shadow-lg
      focus:shadow-xl
      focus:shadow-gray-800">

      <input type="password" placeholder="Senha"
      class="max-w-[80%] md:max-w-[40%]
      outline-none
      w-full py-4 px-4
      rounded-lg
      bg-white/20
      placeholder:text-white/40
      focus:bg-white/40
      focus:placeholder:text-white/60
      shadow-lg
      focus:shadow-xl
      focus:shadow-gray-800">
    </form>

    <div id="button" class="flex justify-center items-center mt-16">
      <button class="shadow-lg hover:shadow-lg hover:shadow-gray-800 px-8 py-2 rounded-lg text-white/50 hover:text-white/90 font-semibold text-lg
       bg-gradient-to-r from-cyan-primary via-cyan-secondary to-cyan-tertiary bg-300% animate-gradient">
        <div class="bg-gradient-to-r from-cyan-tertiary via-cyan-secondary to-cyan-primary bg-300% animate-gradient bg-clip-text text-transparent">
          Entrar
        </div>
      </button>
    </div>

  </div>

  <div id="cadastro">

  </div>
</div>
